<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск по сайту HH.ru через форму</title>
</head>
<body>
    <h1>Поиск по сайту HH.ru через форму</h1>
        <hr>
        <a href="index.html">На главную</a>
        <form action="results.html">
            <input type="text" name="query_string" value="" placeholder="Подсказка">
            <br>
            <select name="where">
                <option value="all">Везде</option>
                <option selected value="name">В названии вакансии</option>
            </select>
            <input type="submit" value="Искать вакасии">
        </form>
</body>
</html>